<!doctype html>
<html ng-app="mpgApp">
<head>
  <title>mpg</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="script.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="mpgCtrl">

  <section id="user-input">
    <form ng-submit="updateData( newCar )">
      <div class="form-group">
        <label for="miles">Miles</label>
        <input ng-model="miles" type="number"/>
      </div>
      <div class="form-group">
        <label for="gallons">Gallons</label>
        <input ng-model="gallons" type="number"/>
      </div>
      <div class="form-group">
        <label for="car">Add a Car</label>
        <input ng-model="newCar" type="text"/>
      </div>
      <button type="submit">Update</button>
    </form>
    <a href="#" ng-click="reportData()">Log it</a>
  </section>

  <section id="user-results">
    <div id="current-result">
      <h1>Today's MPG</h1>
      <p>{{trips.mpg | lastItem}} average mpg</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Miles Per Gallon</th>
          <th>Car</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in trips">
          <td>{{item}}</td>
        </tr>
      </tbody>
    </table>
  </section>

</body>
</html>
