html,
body,
#outerWrap {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-size: 16px;
}

#outerWrap {
  background: linear-gradient(#f9f9f9, #999);
}

#boxWrap, #resultsContainer {
  position: relative;
  top: 10%;
}

#boxWrap {
  height: 100%;
  max-height: 500px;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

#boxWrap,
.box {
  box-sizing: border-box;
  border: .5em solid #333;
  background-color: #5EBF74;
}

.box {
  height: 25.1%;
  width: 25%;
  float: left;
  -webkit-transition: .3s background ease-in-out;
  -moz-transition: .3s background ease-in-out;
  transition: .3s background ease-in-out;
}

.box:hover {
  cursor: pointer;
  background: #30613B;
}

.active {
  background-color: #30613B;
}

.hide {
  background-color: #5EBF74;
}

.wrong {
  background-color: tomato;
}

#results {
  width: 50%;
  margin: 0 auto;
}

#results h1,
#results button[type="submit"] {
  display: inline-block;
}
