html,
body {
  height: 100%;
  width: 100%;
}

body,
h1,
h2,
h3,
ul {
  margin: 0;
}

body {
  font-size: 18px;
  font-family: helvetica, sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1em;
}

a {
  color: #fafbfa;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

a.active {
  color: #333;
}

ul {
  list-style-type: none;
}

ul > li > a {
  font-size: 1.2em;
}

/* =================== Main layout element styles =========== */

header {
  width: inherit;
  background-color: #999;
  box-shadow: 1px 1px 1px 1px #666;
  position: relative;
  z-index: 10;
}

#mainWrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  min-height: 800px;
  position: relative;
  z-index: 1;
}

#mainWrap > nav {
  -webkit-flex: 3 1 25%;
  flex: 3 1 25%;
  -webkit-order: 1;
  order: 1;
  background-color: #888;
  position: relative;
}

#mainWrap > section {
  -webkit-flex: 3 1 75%;
  flex: 3 1 75%;
  -webkit-order: 2;
  order: 2;
  background-color: #777;
}

footer {
  background-color: #999;
  border-top: 1px solid #666;
}
/* ================= Header/Nav Styles ================= */

#globalNav > ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

#globalNav > ul > li {
  padding: .5em 1em;
  display: inline-block;
}

/* =================== LocalNav Styles =================== */
#localNav ul {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: stretch;
  align-content: stretch;
  height: 100%;
}

#localNav a {
  padding: .8em;
  display: block;
  margin: .2em;
  background: #999;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 2px;
}

#localNav a:hover {
  background: #fafbfa;
}

/* =================== Section Styles ==================== */
#contentWrap {
  padding: 1em;
}

/* =================== Footer ============================= */

footer p {
  text-align: center;
}

/* =================== Media Queries ====================== */

@media only screen and (max-width: 767px) {
  #mainWrap {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  #mainWrap > nav {
    -webkit-flex: .5 20%;
    flex: .5 20%;
    box-shadow: 1px 1px 1px 1px #666;
  }

  #localNav ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
