html, body {
  height: 100%;
  width: 100%;
}

body, input, textarea, keygen, select, button {
  font-family: 'Arvo', helvetica, sans-serif;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fbfeff;
}

body,
input[type="text"] {
  color: #1e3431;
}

body,
select {
  font-size: 22px;
}

h1 {
  font-size: 1.6em;
  margin: 0;
  padding: .4em;
  background-color: #1e3431;
  color: #fbfeff;
  border-bottom: 2px solid #54A196;
}

#wrap {
  height: inherit;
}

form,
table {
  max-width: 500px;
  width: 95%;
}

label,
button[type="submit"],
input[type="text"],
select,
form {
  display: block;
}

button[type="submit"],
input[type="text"],
select,
form,
table {
  margin: 0 auto;
}

form {
  padding: 1em .4em;
}

h1,
td {
  text-align: center;
}

input[type="text"],
select {
  width: inherit;
}

input[type="text"],
form,
button[type="submit"] {
  font-size: 1em;
}

input[type="text"] {
  border: none;
  padding-left: .5em;
  background-color: #D8E7F2;
}

input[type="text"]:focus{
  border: none;
}

input[type="text"]:focus,
button[type="submit"]:focus,
select:focus {
  outline: none;
}

button[type="submit"] {
  margin: 1em auto 0;
  background: #1e3431;
  color:  #EDF8FF;
  border: 2px solid #4B8F94;
  cursor: pointer;
}

select#wheelsize {
  line-height: 2;
}

label,
input[type="text"] {
  line-height: 1.75;
}

label {
  padding-left: .5em;
}
/* ========================== Media Queries ======================= */

@media only screen and (max-width: 480px) {
  body {
    line-height: 1.3;
  }
  form {
    padding-top: .5em;
  }
  h1 {
    font-size: 1.2em;
  }
  input[type="text"],
  form {
    font-size: .9em;
  }
  button[type="submit"] {
    margin: .2em auto;
  }
}
